.chart, #sentiment-container, #service-sentiment-container {
  min-width: 700px;
  height: 400px;
  margin: 0 auto;
  display: none;
  padding-top: 50px;
}

.logo { 
  font-family: "Brush Script MT", cursive;
  font-size: 40px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 40px;
  padding-bottom: 50px;
  padding-top: 400px;
  left: 400px;
  position: absolute;
  transition: all 0.5s ease;
}

.search-container {
  display: flex;
  justify-content: space-around;  
  padding-top: 400px;
  width: 500px;
  margin: auto;
  transition: all 0.5s ease;
}
.search-container #search-box {
  margin: auto;
  flex: 0 1 60%;
  align-self: flex-start;
  height: 30px;
  border-radius: 3px;
  border: 1px solid;
  width: 300px;
}
.search-container #search-button {
	flex: 0 1 10%;
  align-self: flex-end;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 1px solid #999;
  border: transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}
.senti {
  display: flex;
}
.senti#sentiment-container, .senti#service-sentiment-container {
  flex: 1;
}
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
  top: 10px;
  left: 55px;
} 
.star-ratings-css::before { 
  content: '★★★★★';
  opacity: .3;
}

[title="1"]::after {
  width: 25%;
}
[title="2"]::after {
  width: 50%;
}
[title="3"]::after {
  width: 75%;
}
[title="4"]::after {
  width: 100%;
}
[title="1.5"]::after {
  width: 37.5%;
}
[title="2.5"]::after {
  width: 62.5%;
}
[title="3.5"]::after {
  width: 87.5%;
}
[title="4.5"]::after {
  width: 112.5%;
}
.star-ratings-css::after {
  color: gold;
  content: '★★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}